{% extends "layout.html" %}
{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
    {% for row in rows%}
        <tr>
            <td>{{ row.symbol }}</td>
            <td>{{ row.price | usd }}</td>
            <td>{{ row.total | usd }}</td>
            <td>{{ total_shares }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
             <td colspan="3">Cash</td>
        <td>{{ cash | usd }}</td>
        </tr>
        <tr>
            <td colspan="3">TOTAL</td>
            <td>{{ grand_total | usd }}</td>
        </tr>
    </tfoot>
</table>
{% endblock %}
